   body {
           background-color: #c19f5c;
        }

.quotebox	{
            width: 60%;
            height: 100%;
            background-color: #dcdcdc;
            padding: 10px;
            color: black;
         margin-top: 5%; 
		   border: 10px solid #6A4E20;
			margin-left: 5%
        }      
    
.gallery {
  display: flex;    
}


button {
    background-color:#6A4E20; 
	  color:#000000;
    width: 40%; /* Set the width */
    height: 100px;
    font-family: 'Georgia';
  	margin-left:26%;
    margin-right:26%;
    margin-bottom:2%;
	border: 5px outset #6A4E20;

         }

.image-text-container {
  display: flex;
  flex-direction: column;
}
