    body {
           background-color: #c19f5c;
        }
        

       .basic-box1 {
            width: 80%;
            height: 100%;
            border: 2px solid #000;
            background-color: #dcdcdc;
            padding: 10px;
            margin-left:   8%;
            margin-right:   10%; 
            color: black;
         margin-top: 1%; 
		   border: 10px solid #6A4E20;
        }                                               


        .main-container {
            max-width: 40%;
            padding: 2%;
         
    
        }

        h1, h2, h3, h4, p{
            text-align: center;
          	font-family:"Georgia";
        }

.collapsible {
  background-color: #dcdcdc;
  color: #444;
  cursor: pointer;
  padding: 10px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
   width: 70%;
   margin-left: 4%;
	border: 5px outset #6A4E20;
  
}


.content {
  padding: 10 px;
  display: none;
  overflow: hidden;
  background-color: #dcdcdc;
   width: 70%;
   margin-left: 4%;
   margin-bottom: 2%;
}         


        .float-left {
            float: left;
            margin-right: 1%;
        }

        .float-right {
            float: right;
            margin-left: 1%;
        }
        .double-spaced {
            line-height: 2;
        }




button {
    background-color:#6A4E20; 
	  color:#000000;
    width: 40%; /* Set the width */
    font-family: 'Georgia';
  	margin-left:26%;
    margin-right:26%;
    margin-bottom:2%;
	border: 5px outset #6A4E20;

         }

.funinfoleft {
    background-color:#dcdcdc; 
	  color:#000000;
    width: 70%; /* Set the width */
    height: 100%;
    font-family: 'Georgia';
    margin-top:3%;
    margin-right:10%;
	margin-bottom:3%;
	border: 5px solid #6A4E20;
  
}

.funinforight {
    background-color:#dcdcdc; 
	  color:#000000;
    width: 70%; /* Set the width */
    height: 100%;
    font-family: 'Georgia';
    margin-top:3%;
    margin-left:10%;
	margin-bottom:3%;
    border: 5px solid #6A4E20;
	 float: right;
}



.quotelink {
  background-color: #dcdcdc;
  color: #444;
  cursor: pointer;
  padding: 2px;
  border: none;
  text-align: left;
  outline: none;
   width: 100%;
	height: 20%;
   margin-left: 1%;
	 margin-right: 1%;
	border: 5px outset #6A4E20;
  
}

    

.galleryowlright{
	display: flex;
	margin-right: 5%;
	margin-top: 2%;
}

.galleryowlleft{
	display: flex;
	margin-left: 5%;
	margin-top: 2%;
}



.quotebox	{
            background-color: #dcdcdc;
            color: black;
		   border: 10px solid #6A4E20;
			margin-bottom:2%;
			margin-left:5%;
        }      
    


button {
    background-color:#6A4E20; 
	  color:#000000;
    width: 40%; /* Set the width */
    height: 100px;
    font-family: 'Georgia';
  	margin-left:26%;
    margin-right:26%;
    margin-bottom:2%;
	border: 5px outset #6A4E20;

         }

.image-text-container {
  display: flex;
	flex-direction: column;
	border: 5px outset #6A4E20;
	width: 85%;
    height: 100%;
}   

.quotes-container {
  display: flex;
	flex-direction: column;
	margin-left: 10%;
	
}   


body {
           background-color: #c19f5c;
        }

.quotebox	{
            width: 85%;
            height: 100%;
            background-color: #dcdcdc;
            padding: 10px;
            color: black;
		   border: 10px solid #6A4E20;
			margin-left: 1%
        }      
    
.gallery {
  display: flex;    
}


button {
    background-color:#6A4E20; 
	  color:#000000;
    width: 40%; /* Set the width */
    height: 100px;
    font-family: 'Georgia';
  	margin-left:26%;
    margin-right:26%;
    margin-bottom:2%;
	border: 5px outset #6A4E20;

         }


.daily{
	display: flex;
	gap: 1%;
}

.directoryandcollapsible {
	display: flex;
	gap: 1%;
}
.collapsibles{
	margin-bottom: 1%;
	width: 80%;
}
